body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  .signup-container {
    display: flex;
    height: 100vh;
    width: 100%; 
  }
  
  .signup-image {
    flex: 0.4; 
    background-image: url('../assets/background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100%; 
  }
  
  .signup-logo {
    position: absolute; 
    top: 5px;
  }
  
  .signup-form {
    flex: 0.6; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    padding: 10px;
    box-sizing: border-box;
    background-color: #4A4F77; 
    height: 100%; 
    position: relative;
  }
  
  .registration {
    margin-bottom: 40px;
    position: relative;
    top: -80px;
}
  
 .signup-input-group {
     top: -100px;
    margin-bottom: 5px; /* Added gap between input boxes */
    width: 100%;
    max-width: 350px; /* Ensure the input group is not too wide */
    position: relative;

  }
  
  .signup-input-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 14px;
    text-align: left;
  } 
  
  .signup-input-group input {
     width: 100%;
    height: 45px;
    padding: 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: left;
    
    
  } 
  .signup-input-group:focus {
    border-color: #ff7f50;
    outline: none;
  }
  
  .signup-button {
    width: 350px;
    max-width: 400px;
    padding: 10px;
    background-color: #ff7f50;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-top: -70px;
    pointer-events: auto; 
  }
  
  .signup-button:hover,
  .signup-button:focus,
  .signup-button:active
   {
    background-color: #ff6a30; 
  }